.video {
    aspect-ratio: 16 / 9;
    background-color: rgb(153, 153, 153);
}

.feature-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    /* -ms-overflow-style: none;
    scrollbar-width: none; */

    padding: 3em 0;
    margin-top: 5em;
}

.title {
    margin: 3em;
    margin-top: 5em;
}

.title h1 {
    font-size: 4em;
}

.feature h1 {
    margin: 0 0 0.5em 0;
}

.title, .how-to, .specs {
    display: grid;
    grid-template-columns: 50% 50%;
}

video {
    margin-left: auto; 
    margin-right: auto; 
}

.explanation h2 {
    padding: 0.5em 0 0.5em 0;
}

.explanation div {
    padding: 0 0 1.5em 1em;
}

.purchase {
    display: flex;
    justify-content: space-around;

    padding: 1em;

}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;

    color: #000;
    background-color: #fff;

}

.footer a {
    text-decoration: underline;
    color: #000;
}

.buy-now {
    padding: 1em;
    border-radius: 0 2em 0 0;
    aspect-ratio: 1 / 1;

    text-decoration: none;

    display: flex;
    align-items: center;
}

.specifications, .specs {
    padding: 1.5em;
}

.specs div {
    margin: 0 1.5em;
}

.key {
    text-align: right;
}

.how-to {
    padding: 1.5em;

    text-align: right;
}

.left {
    float: left;
}





































.menubar {
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
    left: 0;
    display: float;
    padding: 0 2em;
    height: 5em;
}

@media (max-width: 800px)
{
    .title {
        grid-template-columns: 100%;
    }

    .title h1 {
        font-size: 3em;
    }

    .menu {
        display: none;
    }

    .burger {
        display: flex;
    }

    .menubar {
        padding: 0 1em;
    }

    
    #one-feature-container {
        display: grid;
        grid-template-columns: 100%;
    }

    #one-feature {
        margin: 6em 2em;
    }

    #notWorky {
        margin: 2em;
    }

    .title .big-ass {
        margin: auto;
        margin-top: 2em;
    }
}

@media (min-width: 800px)
{
    .title {
        grid-template-columns: 50% 50%;
    }

    .title h1 {
        font-size: 4em;
    }

    .menu {
        display: flex;
    }

    .burger {
        display: none;
    }

    .menubar {
        padding: 0 2em;
    }
                
    #one-feature-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #one-feature {
        margin: 6em 1em 6em 6em;
    }

    #notWorky {
        margin: 6em 6em 6em 1.5em;
    }

    .title .big-ass {
        margin: 0;
    }
}

.burger {
    display: float;
    float: right;
    height: 3em;
    margin: 1em 0 0 0;
    cursor: pointer;
    z-index: 1;
}

#burgerMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #180818;
    padding: 1.5em;
    z-index: 1000;
    width: 100%;
    height: 100vh;
}

#burgerMenu a {
    text-decoration: none;
    color: #180818;
}

#burgerMenu h1 {
    margin: 1em 0;
}

.buy {
    color: #640D81;
}

.feature {

    flex: 0 0 auto;
    padding: 1em;


    /* width: 37%; */
    width: 20em;
    aspect-ratio: 1 / 1;
    /* height: 100px; */
    background-color: #180818;
    margin: 0 1.5em;
    color: #fff;

    border-radius: 0 4em 0 0;
}

.big-ass img {
    width: 100%;
}

kbd {
    background-color: #fff;
    color: #000;
    padding: 0.25em;
    font-weight: bold;
}

#notWorky div, #packaged {
    margin: 1.5em 0;
    padding: 1.5em;
    background-color: #fff;
    color: #000;
}